/*HTML Selectors*/
body{
    font-family: 'Montserrat';
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
}

/*Containers*/
.container-fluid{
    padding: 7% 13% ;
}

/*Sections*/
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/*Headings*/

.big-heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
    
}

.nav-link{
    font-size: 1.5rem;
    font-family: 'Montserrat-Light';
}

/*Download Buttons*/

.download-button{
    margin: 10% 3% 5% 0;
}


/*Title*/

#title .container-fluid {
    text-align: left;
    padding: 3% 13% 7%;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}


/*Features*/
#features{
    position: relative;
}

.feat-header{
    line-height: 1.5;
    font-size: 1.5rem;
}
#features p {
    color: #8f8f8fda;
}   
#features i {
    color: #ef8172;
    margin-bottom: 2%;
}


#features i:hover{
    color: #ff4c68;
}

/*Testimonials*/
#testimonials {
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 15px;
}
.carousel-item{
    padding: 7% 15% 5%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
/*Press*/
#press {
    background-color: #ef8172;
    
    padding-bottom: 4%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing*/
#pricing {
    padding: 5rem;
    
}
.pricing-column{
    padding: 3% 2%;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/*Call to Action*/
#cta h3 {
    color: #fff;
} 

/*Adjusting the container inside the cta section to not interfere with the other container-fluids*/
#cta .container-fluid { 
    width: 81%;
    padding-bottom: 4%;
}
.cta-button {
    margin: 10% 3% 0 0;
}


/*Footer*/

#footer i {
    padding-right: 1%;
}
#footer p {
    color: #8f8f8f;
}

/*Media Queries*/
@media (max-width: 1000px){
    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

/*Created this to center the heading on smaller devices as the heading/img looked out off */
@media (max-width: 470px){

    .center-container {
        text-align: center;
    }
}